.kvadratas {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 25px;
}
#juodas {
	background-color: black;
}

#pilkas {
	background-color: gray;
}

#melynas {
	background-color: blue;
}
#rudas {
	background-color: brown;
}

#geltonas {
	background-color: yellow;
}