input {
	background-color: rgba(0, 189, 248, 0.1);
	padding: 4px 10px;
	border-radius: 6px;
	border: 2px solid white;
	width: 234px;
	font-size: 18px;
	height:28px;
	margin: 10px;
}

input:focus {
	outline: none;
	border: 2px solid #a3c9d0;
}
* {
	padding: 0px;
	margin: 0px;
	font-family: 'Lato', sans-serif;
}
body {
	background: #019af752;
}
button {
	width: 254px;
	font-size: 26px;
	border-radius: 6px;
	background-color: #8ee057;
	box-shadow: 0px 0px 13px 2px white;
	border: none;
	margin: 10px;
	cursor: pointer;
}
button:hover{
	box-shadow: 0px 0px 13px 2px rgba(94,89,94,1);
	border:none;
}
button:active{
	box-shadow: inset 0px 0px 13px 2px rgba(94,89,94,1);
	border:none;
}
button:focus {
	outline: none;
}
#search {
	border: none;
	width: 80%;
	max-width: 400px;
	height:38px;
	background-color: white;
	box-shadow: 0px 0px 13px 2px rgba(94,89,94,1);
	z-index: 10;
}


#wrap {
	position: relative;
	margin: 35px auto;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 12px;
	padding: 10px;
	background-color: white;
	z-index:10;
	box-shadow: 0px 0px 13px 2px rgba(94,89,94,1);
}
#searchField {
	width: 100%;
	text-align: center;
}
.keisti {
	margin: 0px;
	text-align: center;
	cursor: pointer;
}
.hidden {
	display: none;
}
p {
	margin-left: 10px;
}
#panel {
	position: fixed;
	top: -6px;
	right: 5px;
	background: white;
	border-radius: 6px;
	padding: 10px;
	box-shadow: 0px 0px 13px 2px rgba(94,89,94,1);
}
#logOut {
	width: 90px;
	font-size: 20px;
	padding: 2px;
}
#loggedUser {
	font-size: 20px;

}
#result {
	z-index: 11;
}
#result ul {
	width: 80%;
	max-width: 400px;
	margin: 0px auto;
	list-style-type:none;
	background: white;
	text-align: left;
	border-radius: 6px;
	box-shadow: 0px 0px 13px 2px rgba(94,89,94,1);
	padding: 5px 0px;
}
#result li {
	cursor: pointer;
	margin: 5px 10px;
}
#result li:hover {
	color: #796df6;
}
#logo {
	position: fixed;
	top: -6px;
	left: -6px;
	border-radius: 6px;
	box-shadow: 0px 0px 13px 2px rgba(94,89,94,1);
}
#display {
	z-index: -1;
	max-width: 880px;
	padding: 30px;
	position: absolute;
	left:0;
	right:0;
	top: 100px;
	margin: 0px auto;
	background: white;
	border-radius: 6px;
	box-shadow: 0px 0px 13px 2px rgba(94,89,94,1);

}
#uzduoti {
	width: auto;
	padding: 9px;
}
#uzduotis {
	width: 70%;
	max-width: 700px;
	height:38px;
}
.naujaUzduotis {
	width: 70%;
}
hr {
	box-shadow: 0px 0px 13px 0px rgba(94,89,94,1);
}
h2 {
	padding-top: 5px;
	padding-bottom: 5px;
}
i {
	float: right;
	margin-left: 5px;
	cursor: pointer;
}
li {
	padding: 2px;
	margin: 5px 10px;
}
ul {
	list-style-type:none;
}
.checked {
	background-color: #a0e461;
	border-radius: 11px;
}